#root {
 padding: 1rem;
text-align: center;

}

.balance-form-section{
  background-color: darkolivegreen;
  color: white;
  border: 1px solid green;
}

.balance-form-section .header
{
  text-transform: uppercase;
  font-size: xx-large;
}

.balance-form-section h2 {
  font-size: small;
}

.balance-form-section h3 {
  color: black;
}

.transaction-section {
  
  border: 1px solid green;
  margin-top: 2rem;
display: grid;
grid-template-rows: repeat(2, 1fr);
gap: 5rem;
}


.add-tran {
  font-size: 1rem
}